{# templates/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
            <nav class="amado-nav">
                <ul>
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">

            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="/login" class="btn amado-btn active">Login</a>
            </div>

            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="/carrinho" class="cart-nav">
                    <img src="img/core-img/cart.png" alt=""> Carrinho
                    {% if app.session.get('quantidadeItens') %}
                        <span>({{app.session.get('quantidadeItens')}})</span>
                    {% else %}
                        <span>(0)</span>
                    {% endif %}
                </a>
            </div>
        </header>
        <!-- Header Area End -->
        
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Login</h2>
                            </div>
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <form action="{{ path('login') }}" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Username" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required>
                                    </div>
                                    <div class="cart-btn mt-100">
                                        <button type="submit"class="btn amado-btn w-100">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    </div>
{% endblock %}