{# templates/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
        <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit">
                                <img src="img/core-img/search.png" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
            <nav class="amado-nav">
                <ul>
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">

            <!-- Button Group -->
            {% if app.user %}
                <div class="amado-btn-group mt-30 mb-100">
                    <div class="btn amado-btn active">{{ app.user.username}}</div>
                </div>
            {% else %}
                <div class="amado-btn-group mt-30 mb-100">
                    <a href="#" class="btn amado-btn active">Login</a>
                </div>
            {% endif %}

            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="/carrinho" class="cart-nav">
                    <img src="img/core-img/cart.png" alt=""> Carrinho
                    {% if app.session.get('quantidadeItens') %}
                        <span>({{app.session.get('quantidadeItens')}})</span>
                    {% else %}
                        <span>(0)</span>
                    {% endif %}
                </a>
                <a href="#" class="fav-nav">
                <a href="#" class="search-nav">
                    <img src="img/core-img/search.png" alt=""> Search</a>
            </div>
        </header>
        <!-- Header Area End -->
                <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <div class="short_overview my-5">
                                <p>Seu pedido foi realizado com sucesso. </p>
                                <p>para visualizar os seus pedidos, acesse a aba <a href="/pedidos">meus pedidos</a></p>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}